#super-panel {
	margin-top: 20px;
}

html, body {
	height: 100%;
}

header {
	background-image: url(../img/castelo.jpg);
	background-size: cover;
	background-position: top center;
	height: 100%;
}

header h1 {
	margin-top: 0;
	margin-bottom: 0;
}

.topCasaFina-banner {
	color: #FFF;
	background-color: rgba(0, 0, 0, 0.75);
	padding: 20px;
	width: 75%;
	border-radius: 10px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	transition: 1s;
}

.titulo-depoimentos {
	background-color: #0275D8;
	padding-top: 20px;
	padding-bottom: 20px;
	color: #FFF;
	margin-bottom: 0;
}

.grupo-radio-tipo-pessoa,
.select-tipo-situacao {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
}

footer {
	background-color: #333;
	color: #FFF;
	padding: 20px;
}

footer address:last-child {
	margin-bottom: 0;
}